<template>
  <v-dialog v-model="dialog" width="400px">
    <v-card height="90vh">
      <v-btn rounded circle color="green accent-3" class="mt-6 ml-4" @click="dialog= false">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-container px-12>
        <div class="text-center">
          <span class="title">Países com lingua nativa <span class="font-weight-bold">{{ language.name }}</span></span>
        </div>
        <ul v-for="(language, index) in countries" :key="index">
          <li style="list-style: none">
            <span>{{ language.name }}</span>
          </li>
        </ul>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import { getCountriesByLanguage } from '@/services/countries.service'

export default {
  name: 'ModalCountriesByLanguage',
  data () {
    return {
      dialog: false,
      language: {},
      countries: []
    }
  },
  computed: {
    noContry () {
      const result = !this.countries
      return result
    }
  },
  methods: {
    async show (language) {
      this.language = language
      await this.getlanguages(language.iso639_1)
      this.dialog = true
    },
    async getlanguages (langCode) {
      const response = await getCountriesByLanguage(langCode)
      this.countries = response?.data
    }
  }
}
</script>
