<template>
  <v-dialog v-model="dialog" width="320px">
    <v-card class="d-flex flex-column justify-center align-center py-10">
      <v-slide-y-transition width="320px">
        <v-icon size="100px" color="success">
          mdi-check-circle-outline
        </v-icon>
      </v-slide-y-transition>
      <span class="mt-2 title">Sucesso!</span>
      <span class="mt-2 text-center">Verifique o resultado no console</span>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'InfoSuccess',
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    show () {
      this.dialog = true
    }
  }
}
</script>
