<template>
  <v-card max-width="500px" class="d-flex justify-center align-center">
    <v-container fluid grid-list-lg>
      <v-form ref="form-address">
        <v-layout class="d-flex justify-center align-center mt-4 shrink px-4" wrap>
          <v-flex lg12>
            <h6 class="text-h6 mb-6 text-center">
              Informe seu  Endereço
            </h6>
          </v-flex>
          <v-flex lg10>
            <v-text-field
              v-model="formData.cep"
              v-facade="'##.###-###'"
              dense
              label="Cep"
              rounded
              outlined
              :rules="[rules.required]"
              @blur="getAddressByCep"
            />
          </v-flex>
          <v-flex lg6>
            <v-text-field
              v-model="formData.street"
              dense
              type="number"
              :rules="[rules.required]"
              label="Rua"
              rounded
              outlined
            />
          </v-flex>
          <v-flex lg4>
            <v-text-field
              v-model="formData.neighborhood"
              dense
              :rules="[rules.required]"
              label="Bairro"
              rounded
              outlined
            />
          </v-flex>
          <v-flex lg6>
            <v-text-field
              v-model="formData.city"
              dense
              :rules="[rules.required]"
              label="Cidade"
              rounded
              outlined
            />
          </v-flex>
          <v-flex lg4>
            <v-text-field
              v-model="formData.state"
              dense
              label="Estado"
              rounded
              maxlength="2"
              :rules="[rules.required]"
              outlined
            />
          </v-flex>

          <v-btn block rounded color="green" class="ma-4" @click="submitForm">
            Próximo
          </v-btn>
        </v-layout>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { facade } from 'vue-input-facade'
import { getAddress } from '@/services/cep.service'
import { requiredRules } from '~/utils/formValidate.util'

export default {
  name: 'FormDataUser',
  directives: { facade },
  data () {
    return {
      formData: {
        cep: '',
        street: '',
        neighborhood: '',
        city: '',
        state: ''
      }
    }
  },
  computed: {
    rules () {
      return { required: requiredRules }
    }
  },
  methods: {
    submitForm () {
      if (this.$refs['form-address'].validate()) {
        this.$emit('submit', this.formData)
      }
    },
    async getAddressByCep () {
      const response = await getAddress(this.formData.cep)
      const { cep, street, neighborhood, city, state } = response
      this.formData.cep = cep
      this.formData.street = street
      this.formData.neighborhood = neighborhood
      this.formData.city = city
      this.formData.state = state
    }
  }
}
</script>
