<template>
  <v-card max-width="600px" class="d-flex justify-center align-center">
    <v-container fluid grid-list-lg>
      <v-form ref="form-data">
        <v-layout class="d-flex justify-center align-center mt-4 shrink px-4" wrap>
          <v-flex lg12>
            <h6 class="text-h6 mb-6 text-center">
              Informações pessoais
            </h6>
          </v-flex>
          <v-flex lg10>
            <v-text-field
              v-model="formData.name"
              dense
              label="Nome Completo"
              rounded
              outlined
              :rules="[rules.name]"
            />
          </v-flex>
          <v-flex lg10>
            <v-text-field
              v-model="formData.cpf"
              v-facade="'###.###.###-##'"
              dense
              :rules="[rules.cpf]"
              label="CPF"
              rounded
              outlined
            />
          </v-flex>
          <v-flex lg4>
            <v-text-field
              v-model="formData.age"
              dense
              :rules="[rules.age]"
              label="Idade"
              rounded
              outlined
            />
          </v-flex>
          <v-flex lg6>
            <v-text-field
              v-model="formData.monthlyIncome"
              v-money="{
                decimal: ',',
                thousands: '.',
                prefix: 'R$ ',
                precision: 2,
                masked: false
              }"
              dense
              :rules="[rules.monthlyIncome]"

              label="Renda mensal"
              rounded
              outlined
            />
          </v-flex>

          <v-flex lg9>
            <v-layout lg12 wrap>
              <v-flex lg12 align-self-start>
                <span>Espécie do pet</span>
                <v-radio-group v-model="radioSpeciesSelected" column>
                  <v-radio
                    v-for="(species,index) in radiosSpeciesPet"
                    :key="index"
                    :label="species.text"
                    :value="species.code"
                  />
                </v-radio-group>
              </v-flex>
              <v-flex v-if="showOtherSpecies" lg12>
                <v-text-field
                  v-model="formData.otherSpecies"
                  dense
                  :rules="[rules.required]"
                  label="Informe o pet"
                  rounded
                  outlined
                />
              </v-flex>

              <v-flex v-if="radioSpeciesSelected && !showOtherSpecies" lg12>
                <span>Raça do pet</span>
                <v-radio-group v-model="radioPetBreedSelected" column>
                  <v-radio
                    v-for="(breed, index) in getBreedsByPet"
                    :key="index"
                    :label="breed.text"
                    :value="breed.code"
                  />
                </v-radio-group>
              </v-flex>
              <v-flex v-if="showOtherBreed" lg12>
                <v-text-field
                  v-model="formData.otherBreed"
                  dense
                  :rules="[rules.required]"
                  label="Raça do pet"
                  rounded
                  outlined
                />
              </v-flex>
            </v-layout>
          </v-flex>

          <v-btn block rounded color="green" class="ma-4" @click="submitForm">
            Próximo
          </v-btn>
        </v-layout>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
// Realizei a importação das libs aqui direto no componente,
// pois sei que só vou de fato usar aqui
import { facade } from 'vue-input-facade'
import { VMoney } from 'v-money'
import { cpfValidation, requiredRules } from '@/utils/formValidate.util'
import { moneyToNumber } from '@/utils/converters.util'
import { radiosSpeciesPet, breedCat, breedDog } from '@/enum/radios.enum'
import { captalizeNewCharFromString } from '~/utils/string.util'

export default {
  name: 'FormDataUser',
  directives: { facade, money: VMoney },
  data () {
    return {
      radioSpeciesSelected: 0,
      radioPetBreedSelected: 0,
      formData: {
        age: '',
        name: '',
        cpf: '',
        monthlyIncome: 'R$ 1000,00',
        otherSpecies: '',
        otherBreed: ''
      },
      radiosSpeciesPet,
      breedCat,
      breedDog
    }
  },
  computed: {
    showOtherSpecies () {
      return this.radioSpeciesSelected === 'radio-other'
    },
    showOtherBreed () {
      return this.showOtherSpecies || this.radioPetBreedSelected === 'radio-other'
    },
    getBreedsByPet () {
      const radiosBreeds = {
        cat: this.breedCat,
        dog: this.breedDog
      }

      return radiosBreeds[this.radioSpeciesSelected]
    },
    rules () {
      const { validationName, validationCpf, validationAge, validationMonthlyIncome } = this
      return {
        name: validationName,
        cpf: validationCpf,
        age: validationAge,
        monthlyIncome: validationMonthlyIncome,
        required: requiredRules
      }
    }
  },
  methods: {
    submitForm () {
      if (this.$refs['form-data'].validate()) {
        const { age, name, cpf, monthlyIncome } = this.formData

        const pet = this.getBreadAndSpecies()

        this.$emit('submit', { age, name, cpf, monthlyIncome, pet })
      }
    },
    getBreadAndSpecies () {
      let speciesName = ''
      let breedName = ''
      const specie = this.radiosSpeciesPet.find(speciePet => speciePet.code === this.radioSpeciesSelected)
      let breed = ''

      // Caso o primeiro grupo de rádio não seja vázio e diferente de 'radio-other'
      if (specie && specie.code !== 'radio-other') {
        const captalizeCodeSpecie = captalizeNewCharFromString(specie.code)
        const breeds = this[`breed${captalizeCodeSpecie}`]
        breed = breeds.find(breedPet => breedPet.code === this.radioPetBreedSelected)

        speciesName = specie.text
        breedName = breed.text

        // Caso o segundo grupo de rádio seja 'radio-other'
        if (breed.code === 'radio-other') {
          breedName = this.formData.otherBreed
        }
      } else {
        speciesName = this.formData.otherSpecies
        breedName = this.formData.otherBreed
      }
      return { specie: speciesName, breed: breedName }
    },
    validationCpf (value) {
      return cpfValidation(value) || 'Digite um cpf válido'
    },
    validationName (value) {
      return value.trim().split(' ').length > 1 || 'Digite seu nome completo'
    },
    validationAge (value) {
      return (value >= 18 && value <= 65) || 'Digite a idade de 18 à 65'
    },
    validationMonthlyIncome (value) {
      const valueMoney = moneyToNumber(value)
      return valueMoney >= 1000 || 'Digite um valor maior ou igual a R$1000,00'
    }
  }

}
</script>
