<template>
  <div>
    <component :is="flowActived" @submit="handleSubmitDataUser" />
    <info-success ref="info-success" />
  </div>
</template>

<script>
import infoSucess from '@/components/GlobalComponents/infoSuccess'

export default {
  name: 'Form',
  components: {
    'info-success': infoSucess
  },
  data () {
    return {
      flowActived: 'form-data-user',
      flow: [
        'form-data-user',
        'form-address-user'
      ],
      dataFlow: {}
    }
  },
  methods: {
    handleSubmitDataUser (value) {
      this.dataFlow = { ...this.dataFlow, ...value }
      this.nextFlow(this.flowActived)
    },
    nextFlow (actived) {
      const indexActived = this.flow.indexOf(actived)
      if (indexActived !== this.flow.length - 1) {
        this.flowActived = this.flow[indexActived + 1]
      } else {
        this.handleFinalizeForm()
      }
    },
    handleFinalizeForm () {
      this.$emit('submit', this.dataFlow)
      this.$refs['info-success'].show()
    }
  }
}
</script>
