<template>
  <div class="ma-4" style="positition: relative">
    <v-card class="d-flex align-center justify-center green accent-3 rounded pa-1 px-2" style="position: absolute; top:40px ;right:20px" @click="openSearchCoutries">
      <span class="subtitle-2">Pesquisar país</span>
      <v-icon>
        mdi-magnify
      </v-icon>
    </v-card>
    <h1 class="page__title text-center">
      Países da america
    </h1>
    <v-row>
      <v-col
        v-for="(countrie, index) in countries"
        :key="index"
        xl-12
        md-4
        sm-4
        lg-4
        class="mt-4 d-flex pa-2"
      >
        <v-card width="340px" class="d-flex blue-grey darken-4 rounded pa-2" @click="openMap(countrie.latlng)">
          <v-img
            contain
            aspect-ratio
            max-width="68"
            :src="countrie.flag"
            :lazy-src="countrie.flag"
            class="rouded"
          />
          <div class="d-flex flex-column ml-6">
            <span class="subtitle-1 font-weight-bold">{{ countrie.name }}</span>
            <span class="body-2 font-weight-black mt-1">Capital</span>
            <span class="caption">{{ countrie.capital || 'Não definido' }}</span>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <ModalSearchCountries ref="modal-search-countries" />
  </div>
</template>

<script>
import { getCountriesFromRegion } from '@/services/countries.service'

export default {
  name: 'Countries',
  data () {
    return {
      countries: []
    }
  },
  async mounted () {
    await this.getCountriesFromAmerican()
  },
  methods: {
    async getCountriesFromAmerican () {
      const response = await getCountriesFromRegion('americas')
      this.countries = response.data
    },
    openMap (geo) {
      const [lat, long] = geo
      window.open(`https://www.google.com/maps/@${lat},${long},5z`, '_blank')
    },
    openSearchCoutries () {
      this.$refs['modal-search-countries'].show()
    }
  }
}
</script>
<style scoped>
.page__title {
  margin: 80px 0;
}
</style>
