<template>
  <div class="d-flex justify-center align-center pt-12">
    <form-data-and-address @submit="handleSubmitDataUser" />
  </div>
</template>

<script>

export default {
  name: 'Home',
  data () {
    return {
      flowActived: 'form-data-user',
      flow: [
        'form-data-user',
        'form-address-user'
      ],
      dataFlow: {}
    }
  },
  methods: {
    handleSubmitDataUser (value) {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(value))
    }
  }
}
</script>
