<template>
  <div class="ma-4">
    <h1 class="page__title text-center">
      Comparação populacional por região
    </h1>
    <div v-for="(region, indexRegion) in regions" :key="indexRegion" class="d-flex flex-column">
      <span class="text-center title">Região da {{ region }}</span>
      <div class="d-flex justify-center mt-4 mb-8">
        <graph-pie
          :width="500"
          :height="500"
          :padding-top="100"
          :padding-bottom="100"
          :padding-left="100"
          :padding-right="100"
          :values="getValuesPopulation(region)"
          :names="getName(region)"
          :active-index="[ 0, 2 ]"
          :active-event="'click'"
          :show-text-type="'outside'"
          :data-format="dataFormat"
        >
          <note text="População" />
          <tooltip names="População" />
        </graph-pie>
        <graph-pie
          class="ml-8"
          :width="500"
          :height="500"
          :padding-top="100"
          :padding-bottom="100"
          :padding-left="100"
          :padding-right="100"
          :values="getValuesArea(region)"
          :names="getName(region)"
          :active-index="[ 0, 2 ]"
          :active-event="'click'"
          :show-text-type="'outside'"
          :data-format="dataFormat"
        >
          <note text="Área" />
          <tooltip names="Área" />
        </graph-pie>
      </div>
    </div>
  </div>
</template>

<script>
import { getCountriesFromRegion } from '@/services/countries.service'

export default {
  name: 'RegionsInformation',
  data () {
    return {
      values: [10, 5, 5, 5],
      names: ['Apple', 'Google', 'MS', 'Facebook'],

      regions: ['Africa', 'Americas', 'Asia', 'Europe', 'Oceania'],
      regionsWithInformation: {}
    }
  },
  mounted () {
    this.regions.map(async (region) => {
      await this.getCountriesByRegion(region)
    })
  },
  methods: {
    getValuesPopulation (region) {
      if (this.regionsWithInformation[region]) {
        return this.regionsWithInformation[region]?.population
      }
      return []
    },
    getValuesArea (region) {
      if (this.regionsWithInformation[region]) {
        return this.regionsWithInformation[region]?.area
      }
      return []
    },
    getName (region) {
      if (this.regionsWithInformation[region]) {
        return this.regionsWithInformation[region].countrie
      }
      return []
    },
    dataFormat (a, b) {
      if (b) { return b + '%' }
      return a
    },
    async getCountriesByRegion (region) {
      const response = await getCountriesFromRegion(region)
      const result = this.formatInputGraph(response.data)
      this.$set(this.regionsWithInformation, region, result)
    },
    formatInputGraph (data) {
      const population = []
      const area = []
      const countrie = []
      let totalPopulation = 0
      let totalArea = 0

      data.forEach((data) => {
        totalPopulation = totalPopulation + data.population
        totalArea = totalArea + data.area
      })

      data.forEach((data) => {
        population.push(100 * (data.population / totalPopulation).toFixed(2))
        area.push(100 * (data.area / totalArea).toFixed(2))
        countrie.push(data.name)
      })

      return { population, area, countrie }
    }
  }
}
</script>
<style scoped>
.page__title {
  margin: 80px 0;
}
</style>
