<template>
  <v-dialog v-model="dialog">
    <v-card height="90vh" class="d-flex flex-column align-center">
      <v-container px-12>
        <v-text-field
          v-model="nameCountie"
          block
          class="pt-12"
          solo
          label="Digite um país"
          color="highlight"
          prepend-inner-icon="mdi-magnify"
          width="100%"
          @keyup="searchContriePartName"
        />
        <h1 v-if="noContry">
          Nenhum país encontrado
        </h1>
        <v-row>
          <v-col
            v-for="(countrie, index) in countries"
            :key="index"
            xl-12
            md-4
            sm-4
            lg-4
            class="mt-4 d-flex pa-2"
          >
            <v-card width="340px" class="d-flex blue-grey darken-4 rounded pa-2">
              <v-img
                contain
                aspect-ratio
                max-width="68"
                :src="countrie.flag"
                :lazy-src="countrie.flag"
                class="rouded"
              />
              <div class="d-flex flex-column ml-6">
                <span class="subtitle-1 font-weight-bold">{{ countrie.name }}</span>
                <span class="body-2 font-weight-black mt-1">Linguagens</span>

                <div v-for="(language, index) in countrie.languages" :key="index">
                  <span class="caption name__language" @click="openModalCoutriesByLanguage(language)">{{ language.name }}</span>
                </div>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <modal-countries-by-language ref="modal-countries-by-language" />
  </v-dialog>
</template>

<script>
import { getCountriefromPartName } from '@/services/countries.service'

export default {
  name: 'ModalSearchCountries',
  data () {
    return {
      dialog: false,
      nameCountie: '',
      countries: []
    }
  },
  computed: {
    noContry () {
      const result = !this.countries
      return result
    }
  },
  methods: {
    show () {
      this.dialog = true
    },
    async searchContriePartName () {
      const response = await getCountriefromPartName(this.nameCountie)
      this.countries = response?.data?.slice(0, 10)
    },
    openModalCoutriesByLanguage (codeLanguage) {
      this.$refs['modal-countries-by-language'].show(codeLanguage)
    }
  }
}
</script>

<style scoped>
.name__language:hover {
    text-decoration: underline;
    cursor: pointer;
}
</style>
